.env
node_modules/
package.json
package-lock.json

b-portfolio\node_modules
b-portfolio\package.json
b-portfolio\package-lock.json

portfolio\node_modules
portfolio\package.json
portfolio\package-lock.json
